body { 
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.imglogo{
    position: sticky;
    top: 9px;
}
.titulo {
    display: flex;
    background-color: #ff99ff;
    font-weight: 100;
    align-items: center;
    flex-direction: column;

}

header{ 
    display: flex;
    background-color: #ff99ff;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    z-index: 20;
}
.nav {
    height: auto;
    margin-right: 3%;
}

li {
    padding: 10px;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav ul li {
    position: relative;
    margin-right: 20px;
}

.nav ul li ul {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
}

.nav ul li:hover  ul {
    display: block;
}

.nav a {
    text-decoration: none;
    color: #337ab7;
}

.nav a:hover {
    color: #23527c;
}
h1 {
    font-size: 50px;
}

p {
    color: deepskyblue;
}    

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.producto {
    flex-basis: calc(25% - 20px);
    background-color: #f7f7f7;
    padding: 70px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.producto img {
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.producto h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.producto p {
    font-size: 14px;
    margin-bottom: 20px;
}
.boton-comprar {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.boton-comprar:hover {
    background-color: #3e8e41;
}

.titulo1{
    display: flex;
    font-weight: 100;
    align-items: center;
    background-color: #ff99ff;
    flex-direction: column;

}
.ofertas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.oferta {
    flex-basis: calc(33.33% - 20px);
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oferta img {
    width: 70%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.oferta h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.oferta p {
    font-size: 14px;
    margin-bottom: 20px;
}

.oferta span {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}


.footer{
    background-color: #ff99ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.fa-instagram {
    padding: 1.5rem;
    font-size: 2rem;
}
.fa-facebook {
    padding: 1.5rem;
    font-size: 2rem;

}
.fa-whatsapp {
    padding: 1.5rem;
    font-size: 2rem;

}
.footer-info {
    font-size: 20px;
}

/* Estilos para pantallas pequeñas(menos de 768px)*/

@media (min-width: 768px) {
    .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }
    .footer-logo {
    margin-bottom: 0;
    }
    .footer-redes {
    margin-bottom: 0;
    }
}

.reseñas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.reseña {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reseña img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.reseña h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.reseña p {
    font-size: 14px;
    margin-bottom: 20px;
}

.reseña span {
    font-size: 14px;
    font-weight: bold;
    color: #ffd700;
}

.contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}

.info-contacto {
    grid-column: 1;
}

.formulario-contacto {
    grid-column: 2;
}

.ubicacion-contacto {
    grid-column: 1 / -1;
    margin-top: 20px;
}

.info-contacto, .formulario-contacto, .ubicacion-contacto {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-contacto form {
    display: flex;
    flex-direction: column;
}

.formulario-contacto input, .formulario-contacto textarea {
    padding: 10px;  
    margin-bottom: 8px;
    border: 1px solid #ccc;
}

.formulario-contacto button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ubicacion-contacto iframe {
    width: 80%;
    height: 500px;
    border: none;
}

/* Estilos para pantallas pequeñas(menos de 768px)*/
@media (max-width: 768px) {
    .contacto {
    grid-template-columns: 1fr;
    }
    
    .info-contacto, .formulario-contacto, .ubicacion-contacto {
    grid-column: 1;
    margin-bottom: 20px;
    }
}
/* Estilos para pantallas pequeñas(menos de 480px)*/
@media (max-width: 480px) {
    .contacto {
    padding: 10px;
    }
    
    .info-contacto, .formulario-contacto, .ubicacion-contacto {
    padding: 10px;
    }
    
    .ubicacion-contacto iframe {
    height: 200px;
    }
}

